* {
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

/* header */
nav{
    display: flex;
    justify-content: center;
    background-color: #22a6b3;
    padding: 6px ;
    color: white;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    z-index: 10;
  }
  
  /* jarak box */
main{
    padding: 40px;
  }
  
  /* posisi judul */
h3{
  text-align: center;
  }

  /* box */
.box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 10px black;
}

/* mengatur jarak di dalam box */
.box form {
  width: 100%;
  padding: 40px;
}

/* mengatur ukuran gambar */
.box img{
  width: 100%;
}

/* input */
.input-angka input{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #011621;
  outline: none;
  resize: none;
}

/* mengatur posisi nama input */
form .input-angka{
  position: relative;
}

/* Animasi span */
form .input-angka span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #011621;
}

form .input-angka input:focus ~ span,
form .input-angka input:valid ~ span,
form .input-angka textarea:focus ~ span,
form .input-angka textarea:valid ~ span {
  font-size: 14px;
  transform: translateY(-20px);
}

/* Animasi tombol */
button {
  font-weight: bold;
  position: relative;
  background-color: #079992;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 49.6%;
}
button:active {
  background-color: #38ada9;
  color:white;
  box-shadow: none;
  top: 5px;
}

.button{
  display: flex;
  gap: 5px;
}

/* footer */
footer{
  background-color: #22a6b3;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -10px;
  padding: 20px;
}

footer p{
  font-weight: bold;
  color: white;
}

footer a{
  color: yellow;
  text-decoration: none;
}

/* footer sosial */
footer .sosial{
  padding: 20px;
}

footer .social-list{
  display: flex;
  justify-content: center;
  border-top: 1px white solid; 
  padding-top: 2px;
}

.social-list li {
  margin: 6px;
  list-style: none;
  font-size:30px;
}

.fa-brands{
  color: white;
}

/* reponsive */
@media screen and (max-width:1000px) {
  header{
    display: block;
  }
  img{
    width: 50%;
  }
  .box{
    display: block;
    width: 100%;
  }
  .box form{
    width: 100%;
  }
}
